
@media only screen and (min-width: 200px) {
	
	 #alert {
	
      display: none;
      background-color: white;
      border: 1px solid #4289D0;
      color: black;
      position: fixed;
      width: 450px;
      height: 150px;
      left: 38%;
      top: 2%;
      padding: 6px 8px 8px;
      text-align: center;
	  border-radius:10px;
	
   }

   #close {
      border-radius: 12px;
      height: 2rem;
      padding: 7px;
      cursor: pointer;
      border: 2px solid #4289D0;
      background-color: #4289D0;
      position: absolute;
	
      right: 20px;
      bottom: 10px;
	  color:white;
	 
   }
   
   .alert2 {
	   
	     font-family:arial;
		 font-weight:bold;
   }
   
      
   .alert3 {
	   
	     font-family:arial;
   }
   
   

.container{
width:20%;
border:1px;
border-radius:10px;
margin-left:auto;
margin-right:auto;
margin-top:2%;
text-align:center;
font-family:Arial;
box-shadow:0 0 5px #4289D0;
}

.contact1{
margin-top:1%;	
	
}

.myform{
	
width:100%;	
margin-left:auto;
margin-right:auto;
text-align:center;

}

.info {
	font-family:Arial;
	font-size:15px;
	margin-top:3%;
}

.name1{
	width:300px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:2%;
	border-color:#4289D0;
	border:0px;
}

.email1{
	width:300px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:1%;
	border-color:#4289D0;
	border:0px;
}

.number1{
	width:300px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:1%;
	border-color:#4289D0;
		border:0px;
}

.concern1{
	width:300px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:1%;
	border-color:#4289D0;
		border:0px;
}

.message1{
	width:300px;
	height:150px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:1%;
	border-color:#4289D0;
	border:0px;
}

.button1{
	width:100px;
	height:30px;
	border-radius:5px;
	box-shadow:0 0 5px #4289D0;
	margin-top:1%;
	border-color:#4289D0;
	border:0px;
	background-color:#4289D0;
	color:white;
}







}
